apiVersion: v1
kind: Secret
metadata:
  name: observabilidad-secrets
  namespace: observabilidad
type: Opaque
data:
  # Valores en base64. Para codificar: echo -n "tu_valor" | base64
  NEW_RELIC_LICENSE_KEY: <base64_de_tu_ingest_license_key>
  POSTGRES_PASSWORD: <base64_de_tu_password>
